.mainDiv {
  padding: 24px;
}

.loaderContainer {
  text-align: center;
}

.fullInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h6{
  display: none;
}